{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    <h1>
        "Это главная"
    </h1>

    <div class="about-me-link">
        <a href="/about-me/">👤 Моя страничка</a>
    </div>

    {% if request.user.is_authenticated%}
        {{request.user}}
    {% endif %}

    <!-- <form action="sp">
        <label for="">Ваше имя</label>
        <input type="text" name="name">
        <input type="text" name="last_name">
        <input type="submit">
    </form>
    <a href="/sp/">Sp</a> -->

    <form action="" method="get">
        <input type="text" name="game" placeholder={{Comment}}>
        <input type="submit">
    </form>
    
    <div class="genre-container">
        {% for genre in genres %}
            <a href="/?genre={{ genre.id }}">{{ genre }}</a>
        {% endfor %}
        <a href="/">Сбросить фильтр</a>
    </div>

    <div class="game-container">
    {% for game in games %}
        <div class="game">
            <h2>{{game.name}}</h2>
            <p>{{game.genre.name}}</p>

            <img class="game-img" src="{{game.img.url}}" alt="{{game.name}}">

            <a href="/game/{{ game.id }}" class="details-button">Подробнее</a>
        </div>
    {% endfor %}
    
    </div>
</body>
</html>